[2018-01-18 03:19] Vasanthkesavan opened #1 "Setup Express Server"

[2018-01-18 03:53] motosharpley opened #2 "Create Preact App"
Create Preact hello world.  You can check out the documentation here: https://preactjs.com/
good info about preact as pwa on this page https://preactjs.com/guide/progressive-web-apps
preact cli https://github.com/developit/preact-cli/

[2018-01-18 07:06] motosharpley opened #5 "Create Contribution Guidelines doc"
See link below for instructions on how to add and find examples at the bottom of the page.
https://help.github.com/articles/setting-guidelines-for-repository-contributors

[2018-01-18 07:49] motosharpley opened #6 "App Wiki"
Build out app wiki home page

[2018-01-18 07:51] motosharpley opened #7 "app landing page"
Build a landing page for welcoming new users to the app.

[2018-01-18 08:07] motosharpley opened #8 "App logo"
Create a logo that can be used universally throughout the app and as the Icon.

This can also coincide with issue #72 Create an Icon Pack

Logo Concept
The goal is to create a representative character for the smart mapping app. We want to convey a helpful personality that is playful and adventurous. You can work with the name Map-e, Mappy or propose something new, just keep in mind it should be as

[2018-01-18 08:14] motosharpley opened #9 "Read me install instructions"
Add Install instructions we need to provide detailed information on how to set up the front end app. ie. cd into client, then npm install and so on..

- dependency information

- add app status badges

[2018-01-18 16:00] motosharpley opened #10 "Create an app Color Scehme"
Create an example color scheme document with example swatches, hex codes, and target usage.
Color schemes should take color theory into consideration. You can check out http://paletton.com for inspiration.
 ie.
- Primary -insert rgb hex code here ie. #3c3c3c

- Primary light

- Primary dark

- Accent 1

- Accent 2

- Typography light

- Typography dark

[2018-01-18 16:55] motosharpley opened #11 "Wire frames"
Create a set of wire frames to facilitate smooth flow through the proposed project features. See current readme file for an outline of the current use case / features list.

[2018-01-18 16:56] motosharpley opened #12 "Story Board"
Create a project story board to visually represent user interaction and use case flows. Utilize the projects wire frames to illustrate users paths of interaction through the app to identify either smooth flow or bottleneck issues. The goal here is intuitive interaction flow.

[2018-01-18 16:58] motosharpley opened #13 "Mock-ups"
reference wire frames and story board to create rich graphical mock ups of the various app views.

[2018-01-19 03:45] jkwening commented on #5
For some reason the url above isn't working - please try the following:
https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2018-01-19 05:11] jkwening opened #16 "Outline of project features"
Creating this ticket to track the proposed project features that is currently in the ReadMe.md so we can continue to discuss and breakout into modular pieces as it evolves.

## Features

* The interface will **display a map** of a designated area

* **Users** will be able to:
    * Search for a location
        * By typing into a search field
    * View most recent and frequent search
    * Drop a

[2018-01-19 05:27] jkwening commented on #16
Do we want to include search history feature? Something like last 10 searched location and/or dropped pin locations - independent of whether they're saved or not.

[2018-01-19 05:45] jkwening opened #17 "Master Issue - Initial Standup"
Hi - the purpose of this issue is to give a bird's eye view of what is currently being worked on, how it relates to other tasks, and a place to note what needs to be done next.

Please add tasks as needed even if you're not planning on working it so others can have a starting point. If possible, for big tasks, please break into modular subtasks for clarity and ease of tracking. Keep the listed tas

[2018-01-19 06:26] motosharpley commented on #16
Ya I think it might be a good idea to have most recent and maybe most frequent as well.

[2018-01-19 21:33] tophergates commented on #17
What are you all thinking in terms of how the app will be structured? I'm sure you all have your opinions on how best to organize the directory structure, but I think we should all come to a consensus on what that should be.

Just my two cents:

[code]

I'm not sure whether you all feel this type of client/server architecture will work well or not, but this structure seems to help compartmentalize

[2018-01-20 00:13] motosharpley commented on #17
Ya your headed in the same direction as I am. I have commented the express pull request with a number of theses structural aspects so that we will end up with exactly the style of client/server architecture you are proposing and I'm am working my way through the preact client side pull now. Once i get those two merged in it should become a lot easier to break out small feature tasks and get more p

[2018-01-20 03:12] #2 closed

[2018-01-20 07:59] tophergates commented on #17
You've probably already seen this, but it looks like Preact uses Webpack devServer under the hood. We can setup a [proxy](https://github.com/developit/preact-cli/wiki/Config-Recipes#setting-proxy-for-dev-server-using-config-directly) to the API server with a really minor configuration. 🎉

[2018-01-20 08:20] #5 closed

[2018-01-20 17:54] tophergates commented on #1
@Vasanthkesavan Are you making any progress on this? Is there anything I can do to assist?

[2018-01-20 18:08] motosharpley opened #25 "Set up MongoDB"
**Task - Set up mongoDB**
- set up mongodb connection in app.js
- create config directory
- create database.js config file within config directory

[2018-01-20 18:16] motosharpley opened #26 "Set up proxy"
In the preact app set up proxy .

See here for Preact docs on proxy. [preact proxy](https://github.com/developit/preact-cli/wiki/Config-Recipes#setting-proxy-for-dev-server-using-config-directly)

[2018-01-20 19:11] motosharpley commented on #11
Builders Choice! Thanks I will assign you now.

[2018-01-20 19:41] motosharpley commented on #12
cool I think it makes sense for this to go with your wire frames. I usually end up doing it in visio, though not out of preference just out of it's what I have. So again I say Builders choice.

[2018-01-20 20:03] motosharpley commented on #13
please be sure to coordinate with @pjdmatts on this task.
Thanks!

[2018-01-20 20:23] jp853 commented on #13
Sure thing. I’ll be home Monday evening to get started.

[2018-01-20 21:39] #1 closed

[2018-01-21 03:10] jkwening opened #30 "Implement Schema/Model for Saved Dropped Pins, Saved Directions, and Search History"
Initial design for models needed for app so can start getting parts of the backend logic built.

Saved Dropped Pins (Markers) Schema:
- lat: {type: Number, min: -90, max: 90, required: true}
- lng: {type: Number, min: -180, max: 180, required: true}
- place_Id: {type: String, required: true}  (https://google-developers.appspot.com/places/place-id)
- save_date: {type: Date, default: Date.now}

Save

[2018-01-21 04:13] tophergates opened #31 "Return Static Assets in Production"
When in production the server needs to:
1. Serve static assets from `client/build` directory.
1. Respond with `client/build/index.html` for all unmatched server routes.

For now the server can simply respond with the HTML file, later we can consider the possibility of server side rendering of Preact components.

[2018-01-21 04:23] scottwestover opened #32 "Add helmet package for security"
Do you want to request a feature or report a bug? - Feature request

If this is a feature request, what is motivation or use case for changing the behavior? - Adding the helmet package will help make the express app more secure, and it helps the app follow the best security practices (https://expressjs.com/en/advanced/best-practice-security.html).

[2018-01-21 04:46] CodeDraken commented on #32
[pull request 33 - Added helmet to help with express security ](https://github.com/TheDevPath/googleMaps-offline-navigator/pull/33) looks good :+1:

[2018-01-21 05:33] #26 closed

[2018-01-21 06:34] #25 closed

[2018-01-21 08:16] benreckas commented on #10
It's late now, but I can knock this out tomorrow if you want to assign it to me. I'll try to do a couple variations and maybe we can vote on the favorite as a community.

[2018-01-21 15:11] #31 closed

[2018-01-21 15:11] #32 closed

[2018-01-21 15:18] motosharpley opened #36 "Set up Unit testing"
Initial set up to facilitate unit testing suite.

[2018-01-21 15:21] motosharpley opened #37 "Edit pull request template"
Add Descriptive banch naming to pull request template.
ie.
Have you named your branch in a unique and descriptive manner to reflect the issue or feature?

[2018-01-21 16:22] motosharpley commented on #10
You can also reach out to @jp853 on this as he is getting started on some graphic mock ups and @pjdmatts  as he is working on the wire frames and app story board to coordinate.

[2018-01-21 17:16] motosharpley opened #38 "Set up backend restful api JWT Authentication"
Task - Set up user authentication with a json web token strategy.
- Create User model
- Set up user routes, sign up & sign in
- Set up bcrypt
- [JWT docs ](https://github.com/auth0/node-jsonwebtoken)

[2018-01-21 17:29] motosharpley opened #39 "Set up API Routes"
Work with reference docs to map out necessary routes and incorporate into express api.

[2018-01-21 19:55] benreckas commented on #10
I created a pull request with some initial color schemes feel free to give me feedback if you want me to tweak anything.

[2018-01-21 20:59] tophergates opened #41 "Consistent ESLint Rules"
Would be great if the ESLint rules were consistent between frontend and backend.

- Add ESLint to backend
- Alter ESLint rules on frontend to match backend

[2018-01-21 22:03] tophergates commented on #36
Personally, I do not have much experience with testing suites. If anyone has more experience with this, what are your thoughts/suggestions on a which testing library to use? I assume we'll need separate testing suites for server vs. client side...

[2018-01-21 23:52] benreckas commented on #10
Color scheme has been merged. I believe we can close this issue.

[2018-01-21 23:56] CodeDraken commented on #36
@tophergates

Well, I don't know about Preact, ( maybe enzyme works with it? ) but on the server Mocha, Expect, Supertest, and Superagent is nice and easy to setup. ( I haven't actually contributed yet just throwing some ideas out there )

`yarn add --dev mocha expect supertest superagent`

[2018-01-22 00:04] motosharpley commented on #36
Ya I have written tests in ruby mostly. For javascript the only thing I've used is mocha and chai and not extensively by any means. I will have to look but I think I might have a sandbox project I was messing with a while back to get familiar with mocha/chai. They seem to be common or jest would be another option to consider.

[2018-01-22 00:07] #10 closed

[2018-01-22 00:35] CodeDraken opened #46 "package.json changes"
Do you want to request a feature or report a bug?
Feature

If this is a feature request, what is motivation or use case for changing the behavior?
Good/best practices or more fun to work with :smile:

1. **Set the `engines` key** with the suggested / required Node version. Some hosts like Heroku uses it and it will ensure everyone gets the same results by running the code. ( prevent issues due to

[2018-01-22 01:17] motosharpley commented on #36
so here's chai for preact https://github.com/developit/preact-jsx-chai/

[2018-01-22 03:24] pjdmatts commented on #12
Let me know if this is the sort of thing we are looking for.

[storyBoard.pdf](https://github.com/TheDevPath/googleMaps-offline-navigator/files/1650636/storyBoard.pdf)

[2018-01-22 03:26] pjdmatts commented on #11
I had a first pass at this to go with the story boards: https://balsamiq.cloud/supkb/pc5l4

[2018-01-22 04:34] motosharpley commented on #12
Let's post these and the wireframes on the team discussion board as well. I'm sure we will iterate over them many times as we go along but I think it's looking great so far! And should definitely help everyone get a better picture of where we are headed.

[2018-01-22 05:06] D1esel-Dev commented on #38
I can start working on this: adding the dependencies, setting up the user model(s), making the user route and will work on getting the bare-bones of registration, log-in and authenticated controllers. Along with some postman testing.

A couple things to consider more down the line:
Will the user registration be required to use the service?
What methods should be and can be offline first?
Registrat

[2018-01-22 06:01] motosharpley commented on #38
@D1esel-Dev I just started this ticket today as a place holder to build on the necessary specifications in order to complete this task. You are welcome to work on this, I would ask that you start by adding a comment here describing your proposed structure so that I can give you feedback.

I will continue editing the main ticket description with more detailed specs as I have time.

The plan here is

[2018-01-22 16:55] motosharpley opened #47 "Set up preact testing"
Set up preact chia test suite see https://github.com/developit/preact-jsx-chai for details.

[2018-01-22 19:18] motosharpley opened #48 "API errror handling"
Set up error handling in app.js

[2018-01-22 22:21] pjdmatts commented on #7
I would like to take a swing at this - though probably should wait for mock ups?
Also not at all sure how this fits in with Preact.js, but happy to build something with hmtl and css while I am reading the docs on everything else you guys are doing...

[2018-01-22 22:38] pjdmatts commented on #7
It _looks like_ I would make a new folder under /client/src/routes/home/, and write an index.js that returns the html that we want? Let me know if I am heading in the right direction.

[2018-01-22 23:46] #36 closed

[2018-01-22 23:46] #37 closed

[2018-01-23 01:38] motosharpley commented on #7
Sounds like a plan!  I think your logic sounds good on setting up index.js although to be honest I really haven't had a chance to dig into preact much beyond loading things up to test that we aren't breaking anything with pull requests. So play around with it, if you hit a snag let me know I'll help figure it out. It should be quite similar to react.

[2018-01-23 03:12] jp853 commented on #13
Just got home. Reviewing the storyboard and wireframes @pjdmatts designed as well as the color schemes then getting started.

[2018-01-23 20:31] D1esel-Dev commented on #38
Thanks for the heads up! Yes I was referring to back-end only.

The initial proposed structure can be:

**Dependencies:**
- jsonwebtoken
- uuid ? (optional to create a id for the user model, this can be used in the token and I highly recommend using this id to retrieve, identify and authenticate users instead of using any credential email or names. This also can map out the url for the user once l

[2018-01-23 22:48] motosharpley commented on #38
@D1esel-Dev thanks for putting in so much detail this is great and I think will be helpful reference for those learning to follow what we are doing here!

Please check I have sent you an invitation to join the team however it is still pending perhaps it ended up in spam or something. Once you accept that I can then assign this task to you.

Also @jkwening has done the initial db and models set up

[2018-01-24 15:19] #46 closed

[2018-01-24 15:21] motosharpley opened #53 "change server port to 8081"
Change the development api server port to be 8081.

[2018-01-24 17:48] #53 closed

[2018-01-24 18:20] #47 closed

[2018-01-24 23:57] tophergates commented on #38
@D1esel-Dev thank you for such a thorough breakdown of the authentication strategy. This is really helpful!

[2018-01-26 16:44] pjdmatts commented on #7
This has taken longer than I would like. I have made a static version [here](https://github.com/pjdmatts/static-mapE) and have a fork on my local machine with most of this working within the preact app - One snag is getting the landing page to show up on its own without the header from the preact app, the other is learning jsx on the fly. Text and stying I am fine on but I need to look into images

[2018-01-26 18:10] motosharpley commented on #7
No rush here we can work on this at any time. It will pretty much be a separate asset from the main app in a sense. If this were a native mobile app think of this as the page to come download the app, we will provide some crafty little tricks to make our pwa behave in a similar manner. So that the user can still have the icon to launch the app we just handle it a bit differently behind the scenes.

[2018-01-27 22:25] seckboy commented on #6
This is the only item I see in the backlog. Do you still want a wiki? I found a site to host a wiki for free.

http://udacitygooglemaps123.wikia.com/

I restricted permissions so you should not be able to edit it unless you create an account and tell me your username. Is this what you had in mind? If so, do you assign the issue to me?

[2018-01-28 03:26] motosharpley commented on #6
The functionality to build out the wiki is right on github, no need to use
the outside source. Yes if you would like to work on this I can assign the
issue to you. Anything that is not already assigned to someone is available
not just the issues tagged with backlog. I will also be adding a lot of new
issues this week to continue our progress so there is still lots's to do
even though not that many

[2018-01-28 16:36] jkwening commented on #30
@motosharpley closing this ticket and moving onto creating routes and controllers.

[2018-01-28 16:36] #30 closed

[2018-01-28 17:28] jkwening commented on #39
Starting on skeleton for this and will create new issues for specific tasks. I believe based on current mockups we're going to need the following:

#### Routes
* users - for handling user authentication tasks (#38)
    * I'll probably create a file in my first PR but will leave in @D1esel-Dev hands since it looks like he's already on top of that
* search - handles search queries, query results, an

[2018-01-28 19:42] jkwening opened #57 "Implement routes for getting, saving, and updating saved pins"
Complete routing for saved pins feature for the app. Currently the plan is to handle routes for this as part of the search feature so routing url endpoints should go into: ./routes/search.js module.

Overview of task:

- [x] define getting, saving, updating, and deleting end points in ./routes/search.js for dropped pins
    - [x] get route
    - [x] post route
    - [x] delete all pins route
    -

[2018-01-28 19:45] jkwening opened #58 "Implement routes for getting, saving, and updating saved directions"
Complete routing for saved directions feature for the app. Currently the plan is to handle routes for this as part of the search feature so routing url endpoints should go into: ./routes/search.js module.

Overview of task:
- [x] define getting, saving, updating, and deleting end points in ./routes/search.js for saved directions
    * make sure to pass `verifyToken` so end point is secure and requ

[2018-01-28 19:52] jkwening opened #59 "Implement routes for search queries, results, and updating search history"
Need to complete routing for search feature and archiving search history for the app.

Overview of task:
- [x] define getting, updating, and deleting end points in ./routes/search.js for search history
    * make sure to pass `verifyToken` so end point is secure and requires authentication before proceeding - see savedpins routes as an example
- [x] implement controller functions for end points in

[2018-01-28 20:13] jkwening opened #60 "Implement routes for map and related google maps api calls"
Complete routes and functions for necessary Google maps api.

Overview:
- [x] Read Googles API doc for maps, search, pins, and directions and document calls needed for app
    * directions api doc: https://developers.google.com/maps/documentation/directions/
    * geolocation api doc: https://developers.google.com/maps/documentation/geolocation/intro
    * maps api doc: https://google-developers.a

[2018-01-28 20:15] jkwening commented on #38
Related users modules skeletons for routes, models, and controllers have been created - feel free to modify as needed.

[2018-01-30 15:15] Koko-Dev commented on #6
Working on a basic digital drawing to Map the interaction between frontend, backend, and Google Maps API.  Will go over forum and Github discussion today.

[2018-01-30 15:32] pjdmatts commented on #6
@Koko-Dev, awesome. Please can you reach out to @bree on Slack (I did not see them in the team yet) - we were working on some notes for the Wiki content/structure yesterday and this may provide a shortcut since some of notes were lifted from the Saturday meeting on Slack. We actually left a place-holder for such a diagram, so great minds think alike...

[2018-01-30 15:38] pjdmatts commented on #6
See this is why we don't use our super hero identities :)

[2018-01-30 16:18] jkwening commented on #39
Closing this issue since skeleton code base has been deployed and task broken into modular issues: #57, #58, #59, and #60.

[2018-01-30 16:18] #39 closed

[2018-01-30 20:38] pjdmatts commented on #6
Hi @motosharpley - please can you @Koko-Dev and I edit access on the wiki?

[2018-01-30 20:59] mallek commented on #41
I grabbed a fork and am going to give this a try. Should have a PR ready soon

[2018-01-30 22:28] ricky-rose commented on #9
@motosharpley Is it ok if I add a table of contents to the main ReadMe.md file? That way once we start expanding the file with detailed information, it will be easier to browse, and editing the table of contents will also be easier if it is set up now instead of at the end.

[2018-01-31 03:24] motosharpley commented on #9
@ricky-rose Yes absolutely that would be great!

[2018-01-31 07:52] mallek commented on #57
I am working on adding in routes following the pattern laid out in the map routes and google-api-controller.  I have already submitted a PR that precedes this. once merged I can PR this.

[2018-01-31 20:03] Koko-Dev commented on #6
I forked the project onto my Koko-Dev and have the first bit of it done.  Left you a message @motosharpley on how best to upload images.  Am working on a few more ideas for images.  In my research, I saw that one could acquire a place to upload the image which would give us a URL.  One could also create another file for Wiki Images, as I am certain there will be quite a few and it may be good to k

[2018-02-01 19:06] motosharpley opened #68 "Set up Client Component Skeleton"
Refer to Project Roadmap and build component file structure with basic 'hello world' components

[2018-02-01 19:07] motosharpley opened #69 "Client Side Routes"
Set up Client Side Routes for app skeleton

[2018-02-01 19:25] pjdmatts commented on #68
Assume this means client app components identified in the MVP, and this is for the attention of the @TheDevPath/front-end-dev-team ?

[2018-02-01 20:54] motosharpley commented on #11
closing this issue for now. We can continue to iterate on team discussion boards.

[2018-02-01 20:54] #11 closed

[2018-02-01 20:55] motosharpley commented on #12
Closing this issue continue discussions on team discussion boards

[2018-02-01 20:55] #12 closed

[2018-02-01 20:56] motosharpley commented on #13
Closing this issue for now. We can continue to review via team discussion boards

[2018-02-01 20:56] #13 closed

[2018-02-02 05:26] heggy231 commented on #9
@motosharpley Bryan,
Within the README.md, Could I create a short video intro about what this project is about?
Here is resource on how to add to README.
https://stackoverflow.com/questions/4279611/how-to-embed-a-video-into-github-readme-md

First, I need to understand what this app is suppose to do.  Could we chat on Slack?

[2018-02-02 22:30] motosharpley opened #72 "Create an Icon pack"
Create a pack of Map-e png icons with transparent background matching the sizes of the preact Icon files in the client>assets>icons folder
These are used for things like favicon, home screen Icon on mobile devices etc

[2018-02-02 22:57] motosharpley commented on #9
Yes @heggy231 that would be great. If you would like I can add you to the UI/UX Design team and you could reach out to the team members there to work on a prototype on invision.

[2018-02-02 23:54] #41 closed

[2018-02-02 23:55] #57 closed

[2018-02-03 00:35] jkwening commented on #17
Closing this since we have a road map and other resources to better track what's going on.

[2018-02-03 00:35] #17 closed

[2018-02-03 00:36] jkwening commented on #16
Closing in favor of tracking with road map.

[2018-02-03 00:36] #16 closed

[2018-02-03 04:05] jkwening opened #74 "Validate name, email, and password credentials provided by user for registration"
User authorization and authentication is setup but currently we're not validating the user information provided for registering an account. The `registerUser` function in "users-controller.js" needs to be expanded to include this validation step first before any other processing steps are started.

Here's an overview of what is needed:
[code]

[2018-02-03 04:11] vettyvignesh commented on #74
Hi I am new to OSS. So can you assign me this issue?

[2018-02-03 04:17] jkwening opened #75 "Refactor and complete apiRoutes.js in tests"
This was the file used to configure our backend tests folder and skeleton. It's incomplete and needs refactoring.

1. Rename file to users-test.js (`git mv tests/apiRoute.js tests/users-test.js` - assuming you're pwd is the root "GOOGLEMAPS-OFFLINE..." folder).
2. Refactor code to test the endpoints in routes/users.js and its respective controller functions (controllers/users-controller.js)

[2018-02-03 04:26] jkwening opened #76 "Refactor saved pins test file in tests folder"
User authentication is now in place so current tests/savedPins.js fails and needs to be refactored to incorporate authentication rules. See #38 for overview of authentication concept and `verifyToken` method to see how we pass approved token around.

As a quick overview, when a user logs in or registers an account successfully a token is generated and assigned to the user until they log out or it

[2018-02-03 04:34] jkwening opened #77 "Add test for saved directions routes"
See #58 for context. Implement unit test for the routing end points needed. You will need to incorporate authentication into test case since this will be secured data.

[2018-02-03 04:38] jkwening opened #78 "Add unit test for search history end points"
See #59 for context. Implement unit test for the routing end points needed. You will need to incorporate authentication into test case since this will be secured data (see #38 and #76 for related information). You can reference savedPins file in tests for an example and routes/users.js and routes/saved-pins regarding routes and their controller functions.

[2018-02-03 04:58] sperrye commented on #68
Is there a wireframe or a list?

[2018-02-03 06:09] motosharpley commented on #68
please see https://github.com/orgs/TheDevPath/teams/front-end-dev-team/discussions/1

[2018-02-03 21:14] redragonx commented on #72
Do we have colors/branding picked out?

[2018-02-03 21:31] motosharpley commented on #72
there are two example color schemes in the repo but nothing is set in stone multiple choice is always nice especially with a group this big

[2018-02-03 21:51] pjdmatts opened #79 "Main App Component"
Feature Request:

Under #68, create a seperate issue for Main App component.

For the @TheDevPath/front-end-dev-team

[2018-02-03 21:52] pjdmatts commented on #79
@seckboy and I are working on this

[2018-02-03 21:54] redragonx commented on #72
Alright i will think about it, but for now, i will focus on the components.

[2018-02-03 21:59] pjdmatts opened #80 "Nav component"
Feature Request.

Create a Preact component for the Nav part of the UI.

For @TheDevPath/front-end-dev-team

[2018-02-03 22:01] pjdmatts opened #81 "Map component"
The first phase of this task is complete but needs to be refined with some CSS clean up and connecting to our back end bridge rather than direct to the google API when that functionality is ready.

Feature Request.

Please create a Preact component that shows a Map (using Google Maps API)

@seckboy and I are working on this

[2018-02-03 22:02] pjdmatts opened #82 "Search component"
Feature Request

Please create a Preact Search Component for the UI.

For the attention of @TheDevPath/front-end-dev-team

[2018-02-03 22:03] pjdmatts opened #83 "Favorites component"
Feature Request

Please create a Preact Favorites Component for the UI

@TheDevPath/front-end-dev-team

[2018-02-03 22:05] pjdmatts opened #84 "Profile component"
Feature Request

Please create a Preact Profile Component for the UI

@TheDevPath/front-end-dev-team

[2018-02-03 22:05] pjdmatts opened #85 "Directions component"
Feature request.

Please create Preact Directions component

@TheDevPath/front-end-dev-team

[2018-02-03 22:06] pjdmatts opened #86 "Sign up / Sign in component"
Feature Request

Please create Preact Sign up / Sign in component

@TheDevPath/front-end-dev-team

[2018-02-03 22:07] pjdmatts commented on #86
@redragonx would like to work on this

[2018-02-03 22:07] pjdmatts commented on #84
@redragonx would like to work on this

[2018-02-03 22:41] redragonx commented on #84
Profile features:
- See the following: name, username, email, password, and notification settings
- Edit everything above
- Delete account
- See account creation time

Notification features:

- map updates
- app updates
- offline timer msgs (We should alert users a map is old or app is offline after a time)

[2018-02-03 23:26] tanyagupta commented on #74
@jkwening this issue is still showing as help wanted. Any remaining issues still available?

[2018-02-03 23:30] jkwening commented on #74
@tanyagupta @vettyvignesh is working on this. At the issues main page there should be other issues unassigned. Feel free to review them and comment that you're working on them and I or @motosharpley will assign it to you. There are frontend, backend, test/QA, and design issues that we need help on - even if not noted as "help wanted" as long as its not assigned feel free to volunteer for it and ju

[2018-02-04 18:13] motosharpley opened #89 "Update contribution guidlines doc"
As @jkwening suggested in the discussion on this topic,
suggest updating the contributions guidelines doc, specifically the "How to Contribute" section. I think the part following "To start making a contribution:" needs to be updated to incorporate the additional steps that are missing. Maybe broken into high level steps followed by substeps for each:

    Setup Github: includes currently steps 1

[2018-02-04 18:38] jkwening commented on #82
Should consider incorporating googmaps places autocomplete feature: https://developers.google.com/maps/documentation/javascript/places-autocomplete

[2018-02-04 19:19] motosharpley opened #91 "fix client eslint config - missing plugins - Beginners Only Please!"
Here is a hint to help you fix your first bug on an open source project. Look in the client directory at the eslintrc.json file. Compare this with the devDependencies in the client>package.json and add the eslint plugins to the to the eslintrc.json file.

Good luck!

[2018-02-04 19:24] tanyagupta opened #92 "Creating a directory for current and future documentation and a new route in app.js"
I would like to create a documentation directory on the project where I want to keep the contributing.md and possibly similar files related to documentation. Before I do that, finish the documentation and issue a pull request, I want to check if that works for the team ? If this is fine, I also want to create an additional route in app.js //app.use(express.static('docs'))

[2018-02-04 22:33] #92 closed

[2018-02-05 19:29] jkwening commented on #74
Merged in #87

[2018-02-05 19:29] #74 closed

[2018-02-06 03:06] seckboy commented on #81
On the google-maps-react-component branch at https://github.com/seckboy/googleMaps-offline-navigator I just took some code from this tutorial (http://blog.theodo.fr/2017/11/preact-progressive-web-app-webpack-material-design-web-apis/) and dropped it into a GoogleMap component. You need to put your own google maps api key into secrets.json for it to work. The url to see the map is /showMap. This is

[2018-02-06 05:37] sperrye commented on #83
I've got this!

[2018-02-06 07:00] khusbuchandra commented on #91
I would like to take this up, it would help me initiate the process of figuring out configuration. But I am still struggling with the setup. I followed the instructions from Readme in client directory and getting errors. Need help to find what I am missing.

[2018-02-06 13:25] jkwening commented on #91
@khusbuchandra what issues are you having? With git triangle workflow setup? If that is all good, the next step is to run npm install at:
1. the root of the project folder - for server node modules
2. cd into client and then run npm install - for preact node modules

After that you will need to setup a secrets.json file in config folder. Copy secrets-example.json. You can use the mongodb setup as

[2018-02-06 14:37] motosharpley commented on #91
@khusbuchandra you can also hit me up on slack and I can walk through things with you to get you started.

[2018-02-06 15:56] motosharpley commented on #81
I will pull a copy of this and go through it in more detail later tonight, but at a glance looks like your headed in the right direction to get our first prototype going.
Great job!

[2018-02-06 20:28] khusbuchandra commented on #91
Thanks @jkwening  & @motosharpley , After few trial and errors, I figured it out. Will start contributing now.

[2018-02-06 23:49] #91 closed

[2018-02-07 21:48] seckboy commented on #69
I can start on this. I'm picturing setting up some placeholders for both routes and components. The components can be replaced with the real components people are working on. I actually played around with something like this over the weekend. I created a signin page with a button that takes you to a map page no matter what you enter into the form and links to "register" and "forgot password?" that

[2018-02-07 22:22] motosharpley commented on #69
I think it sounds like you've got the right idea. I will go ahead and assign this to you and we can always just make adjustments on the PR as needed.
Have fun!

[2018-02-08 13:23] sperrye commented on #85
I'd like to start on this.

[2018-02-08 14:35] pjdmatts commented on #8
I know there was some discussion on the team boards, but has a logo been selected?
@TheDevPath/ui-ux-design-team

[2018-02-08 14:37] pjdmatts commented on #72
Does the logo discussion go along with this?
Any designers out there who want to assist?
@TheDevPath/ui-ux-design-team

[2018-02-08 15:04] motosharpley commented on #85
@sperrye To add to the question you had last night on the discussion board here is the API we will be working with on the server to then pass along data to this component. I Thought this might give you a better idea what you will have to work with https://developers.google.com/maps/documentation/directions/start

[2018-02-08 15:44] motosharpley commented on #8
It's still open game to anyone feeling artistic!

[2018-02-08 18:52] desdemonhu commented on #8
Yes please help! I’m bad at this :D

[2018-02-08 20:03] seckboy opened #100 "Adjust client side code to use 2 spaces for indentation"
There is 8-space indentation on a lot of the code - perhaps created automatically by preact. But the style guides say to use 2 spaces.

[2018-02-09 03:50] jkwening commented on #76
merged #99

[2018-02-09 03:59] jkwening commented on #85
@sperrye PR #101 includes the initial server side code that will be making calls to google api. Also, this link below specifics on rendering directions via google javascript api: https://google-developers.appspot.com/maps/documentation/javascript/directions#RenderingDirections

I'm currently returning the json without any modifications on the backend but I'm thinking of doing some additional proce

[2018-02-09 04:01] #76 closed

[2018-02-09 04:03] jkwening commented on #75
#1 above has been completed in PR #99 but still need to complete #2 above - doesn't include cases for all user end points.

[2018-02-09 13:44] sperrye commented on #85
Thank you so much @motosharpley & @jkwening - can't wait to dig in!

[2018-02-09 15:22] motosharpley opened #103 "Add docs directory and Set up Strapdown"
Add a docs directory in the root of the project to consolidate documentation and set up index.html within using strapdown for improved styling & readability. This will serve as the home page for a static project documentation & wiki site.

[2018-02-09 15:24] #89 closed

[2018-02-09 17:36] desdemonhu commented on #75
Started working on the users routes

[2018-02-09 18:24] redragonx opened #104 "Add protected routes for the sign-in and other pages"
We need a way to protect routes once signing on works. This is so we can show relevant pages to the user.

What is the expected behavior?
Hides sections in the navbar and deny access.

What is the current behavior?
Nothing happens.

#86 depends on this issue.

https://medium.com/the-many/adding-login-and-authentication-sections-to-your-react-or-react-native-app-7767fd251bd1

[2018-02-09 21:49] jkwening commented on #104
@redragonx It sounds like this can be facilitated by exposing 'verifyToken' logic as an api endpoint for the front end. Front end will check whether user has an access token, if so, send a request to '/user/verify' endpoint to validate for token and route accordingly. If no token is currently cached, then user needs to sign-in/register before being granted access to protected route. Thoughts?

[2018-02-09 22:19] motosharpley commented on #104
I think there are two pieces to what you are trying to do - client side logic/validation to check if there is or is not a user object present then for example don't show login - do show log out & profile links etc.
Then there is the secondary step for Items like user settings / account info etc. which also require server side validation.
The client side logic prevents displaying the navigation/con

[2018-02-09 22:27] motosharpley commented on #104
In addition here is the preact router for reference on things like redirects & if we need additional functionality we can always swap out for the react-router https://github.com/developit/preact-router

[2018-02-10 00:00] khusbuchandra commented on #82
Before starting on it, I have got a question. This search component feature request is supposed to be just the text input with hamburger menu button or does it also include the menu also? Since I didn't find the issue raised for Menu component, want my assumptions to be clarified.
I am going to try my hand on it, any other pointers that might help me to get started.

[2018-02-10 02:46] motosharpley commented on #82
You can just start with the the search input and we can add additional issues or expand on the pull request as needed.

[2018-02-10 17:32] motosharpley commented on #80
@seckboy I'm assigning this to you because it relates to the routes you are working one.

[2018-02-10 18:00] motosharpley opened #108 "CSS Styling Components"
Adjust client component styling to provide uniform experience throughout.
Use app mock-ups [here](https://sketch.cloud/s/Om3Dk) for inspiration and have fun!

**Item list of priority components**

- [x] Style search feature for map view #181
- [x] Add hamburger icon and directions icon to map view #179
- [ ] style profile route #184
- [x] Map view icons #170
- [x] Make App Nav Icons #166

[2018-02-11 20:00] motosharpley opened #112 "Beginner Special - Move preact-jsx-chai"
In the client>package.json file move the preact-jsx-chai module from dependencies to devDependencies.
This is a starter issue for a first time user to learn the pull request process.
Thanks for playing!

[2018-02-12 01:12] Minh-B-Dang commented on #112
I'd like to help with this issue.

[2018-02-12 03:03] motosharpley commented on #112
sure I will assign to you now.

[2018-02-12 03:05] motosharpley commented on #112
I need you to accept the team invite and then I can assign to you.
Thanks!

[2018-02-12 04:04] Minh-B-Dang commented on #112
Oh I'm sorry I never noticed the invitation via email. I accepted the invite. I'm still very new to Github so i'm a little lost on how to proceed.

[2018-02-12 04:10] motosharpley commented on #112
That's just fine learning and practice is what this is all about. check out the instructions on the [contributing](https://github.com/TheDevPath/googleMaps-offline-navigator/blob/development/CONTRIBUTING.md#how-to-contribute) doc to get your repo and branch set up and the instructions on the readme to get things installed to run the app. Feel free to reach out if you need help getting going.
thank

[2018-02-12 04:14] redragonx commented on #84
I will begin making the profile page this week.

[2018-02-12 19:07] motosharpley commented on #85
I think this will end up being useful here https://github.com/googlemaps/google-maps-services-js

[2018-02-12 19:08] motosharpley commented on #82
just putting this here for safe keeping https://github.com/googlemaps/google-maps-services-js

[2018-02-13 18:45] khusbuchandra commented on #82
@Bryan , I did try that but was getting stuck with createClient which needed process and wasn't getting it.
 For the time being i found a working solution with script injection.  I did try lot of other libraries but somehow they weren't working for us. If someone wants to try their hand with a better solution, feel free, I will be eager to learn more.

[2018-02-13 20:52] #83 closed

[2018-02-13 20:52] #112 closed

[2018-02-13 20:53] #82 closed

[2018-02-13 20:53] #81 closed

[2018-02-13 20:54] #80 closed

[2018-02-13 20:54] #69 closed

[2018-02-13 20:54] #86 closed

[2018-02-13 20:55] #79 closed

[2018-02-13 20:56] #38 closed

[2018-02-13 20:59] #68 closed

[2018-02-13 21:01] #9 closed

[2018-02-13 21:11] #7 closed

[2018-02-13 21:39] desdemonhu commented on #75
@mallek I was running tests just fine the other day, then I pulled down changes from development branch a few minutes ago, and now I get this error any time I try to run the server tests
[code]
if I remove the beforeEach with populateUsers, the tests run, just some of them obviously fail. Looking at your seed I can't figure out what is wrong or even what changed. I tried doing a hard reset of my b

[2018-02-14 04:16] redragonx commented on #72
I will help out with the logo design here.

[2018-02-14 15:10] motosharpley commented on #72
Here is a thread on the discussion board we had been putting ideas on https://github.com/orgs/TheDevPath/teams/grow-with-google/discussions/7

[2018-02-14 20:52] motosharpley opened #118 "Build a Places component"
Build a component to utilize the google places api.
You can check the search component for reference to help you along.
consider this the landing point for this component the will use the users geolocation to per-populate a nearby search when opened.
see - https://developers.google.com/maps/documentation/javascript/places#place_search_requests
for more details on the api

[2018-02-16 16:37] alicepalazzolo commented on #8
![navi-icon](https://user-images.githubusercontent.com/35308564/36318402-bfc053a4-130d-11e8-9378-f6532905120c.PNG)
![navi](https://user-images.githubusercontent.com/35308564/36318407-c20422b2-130d-11e8-928f-970ca61a097f.PNG)
So I am going to be working on the Logo & Icon. I was thinking of doing something called NAVI. This gives us the short iconic style name like Siri & Alexa. It also references

[2018-02-17 05:28] redragonx commented on #8
Looks great so far!

[2018-02-17 17:47] sameerkhan116 opened #122 "Refactor the Search AutoComplete code to use google-maps-react packages instead of manipulating the DOM (as is being done right now)"
Do you want to request a feature or report a bug?
Enhancement

If this is a feature request, what is motivation or use case for changing the behavior?

If the current behavior is a bug, please provide the steps to reproduce.

What is the expected behavior?

What is the current behavior?
At present, the search autocomplete code creates a script on the DOM and then runs the script. However, in React

[2018-02-17 18:25] motosharpley opened #123 "document API resources"
Create an API document identifying all the currently available endpoints and the elements within each endpoint.

[2018-02-17 21:10] motosharpley opened #124 "refactor client proxy config"
refactor the client proxy config - correct the /api usage no longer on back end.

[2018-02-17 21:12] motosharpley opened #125 "Connect Sign in / register to API"
connect the client side sign in and register forms to the users resource on the API server.

[2018-02-17 21:18] #72 closed

[2018-02-17 21:46] motosharpley opened #126 "App home page/route"
Populate the client home route with summary of app and navigation to main app features

get Idea how we are using this page...
for a tutorial on this look to section 3 of this [Udacity course](https://www.udacity.com/course/intro-to-progressive-web-apps--ud811)

[2018-02-17 23:00] motosharpley opened #127 "Create a contributor doc"
Create a CONTRIBUTORS.MD doc to say thank you and give credit to contributors for their generosity and hard work.

[2018-02-17 23:14] motosharpley opened #128 "Customize the web app manifest file"
See [here](https://developers.google.com/web/fundamentals/web-app-manifest/) for info on the purpose of the app manifest file.
Customize the existing manifest file to reflect the specific needs of the navi app

for a tutorial on this look to section 3 of this [Udacity course](https://www.udacity.com/course/intro-to-progressive-web-apps--ud811)

[2018-02-18 00:35] seckboy commented on #125
I can try to help with this.

[2018-02-18 00:36] seckboy commented on #124
If this is just deleting the following from preact.config.js then I can do this:

		config.devServer.proxy = [
			{
				path: '/api/**',
				target: 'http://localhost:8081'
			}
		];

[2018-02-18 03:33] sameerkhan116 commented on #118
This can be closed now I guess. I'll add the other issues separately.

[2018-02-18 04:10] motosharpley commented on #124
ya just include it with the PR when you do the signin connection

[2018-02-18 05:11] motosharpley commented on #122
I missed it in the recent PR so we need to refactor the default hard coded autocomplete latlng to be dynamic based on users geolocation rather than hard coded

[2018-02-18 05:14] motosharpley opened #132 "refactor / enhance places component"
-    Improve InfoWindow -> clicking on a marker should give more information on the place.
-    Moving the marker on the map around should give search results around that place, at the present, maps API gets current location and uses that as center to give places nearby.
~~List of places is generated only after clicking once on the map~~
   ` <Map google={this.props.google} center={{lat: this.stat

[2018-02-18 05:15] #118 closed

[2018-02-18 05:33] motosharpley commented on #122
yes but the autocomplete now has preference to Australia so for example before if I started to type the name of the city i'm in or one nearby the autocomplete suggestions were more relevant.  Now it suggests places in Australia instead. Those coordinates are used to influence the way the autocomplete makes suggestions, so in the context of navigation the user is most likely to be searching for som

[2018-02-18 05:36] sameerkhan116 commented on #122
Oh okay, I didn't realize that. Also, are we limiting the autocomplete to cities or can it autocomplete to anything?

[2018-02-18 05:44] motosharpley commented on #122
no I think we can open it up since we have places now, I'm not sure off hand what all categories are available but I think it would be good expand it a little.

[2018-02-18 16:47] jkwening opened #138 "Fix Nav bar rendering"
When you click nav bar icon, it presents a dropdown menu which hides behind the map container. It should behave similar to the home screen so that it shows over the map.

[2018-02-18 16:51] motosharpley opened #139 "Build Saved Pins component"
Build out the savedPins component on the client app and connect it to the savedPins api resource to save to DB.

[2018-02-18 23:30] seckboy commented on #125
I'm trying to connect to localhost:8080/users/register using postman. Since I am not sending any parameters I am expecting a 400 response saying 'One or more fields were left empty' but I must be doing something wrong. I am able to get the home page through postman but I just get a 404 not found saying Cannot POST /users/register.
![postman.users.register.png](https://waffleio-direct-uploads-produ

[2018-02-19 00:59] motosharpley commented on #125
@seckboy in postman you are contacting the api directly and need to use port 8081

[2018-02-19 04:30] sameerkhan116 commented on #139
Hey Bryan, just wanted to know how this component will be different than the favorites one?
Also, in my opinion the best way to do this would be - when marking a place as saved, add it to a saved places state and then pass this state as props to the Saved Pins Component. Just a suggestion if someone is looking to implement this.
I'd love to work on this but I've got a really busy week ahead.

[2018-02-19 15:19] motosharpley commented on #139
Hey Sam thanks for asking,  I'm going to also add an issue to refactor the favorites component to take in saved pins, places, and directions components. The favorites component will basically build the arrays and control how they are displayed using the data from the pins, places and directions components. The focus of the pins component should be handling saving and retrieving the data via state

[2018-02-19 18:07] motosharpley commented on #138
While your there let's also make this responsive to display navigation on larger screens and then the hamburger menu at the smaller break points.

[2018-02-19 19:36] alicepalazzolo commented on #108
@motosharpley do we need new mock ups here with the new color scheme to go with the logo/ icon ?

[2018-02-20 02:26] motosharpley commented on #108
@alicepalazzolo yes That would be great!

[2018-02-20 04:13] #103 closed

[2018-02-20 04:14] #8 closed

[2018-02-20 06:24] jkwening opened #145 "Enhance Map View and Incorporate Search Component"
Build out map view per wireframe design: https://github.com/orgs/TheDevPath/teams/front-end-dev-team/discussions/1

MVP TODO:
- [x] Incorporate search component into map view
- [x] Style view
  - [x] display: block
  - [x] position: relative
  - [x] stacked - nav bar, search, and then map view with map view taking majority of the screen space
  - [ ] play around with alternative style for nav bar:

[2018-02-20 09:08] jkwening commented on #85
@motosharpley I'm going to build a base view using [leaflet routing machine](http://www.liedman.net/leaflet-routing-machine/#about) as the shell from which we can then customize as needed. To begin with it will just start with your current location and allow you to add markers for start/to routing directions along with dragging markers to make changes.

Once this is up, I will create two/three new

[2018-02-20 17:43] jkwening commented on #60
closing in favor of more specific issues has frontend and backend start communicating.

[2018-02-20 17:43] #60 closed

[2018-02-20 17:44] jkwening commented on #58
closing in favor of more specific issues has frontend and backend start communicating.

[2018-02-20 17:44] #58 closed

[2018-02-20 17:45] jkwening commented on #59
closing in favor of more specific issues has frontend and backend start communicating.

[2018-02-20 17:45] #59 closed

[2018-02-20 23:15] seckboy commented on #125
The tests for the client were not running.  Actually the only test was for the Nav component. So in the Nav component, I commented out the first 2 lines below and replaced with the third line and the tests ran:

// import Menu from 'preact-material-components/Menu';
// import Button from 'preact-material-components/Button';
import { Menu, Button } from 'preact-material-components';

I'll check thi

[2018-02-21 02:29] jkwening opened #150 "Enhance directions view and capabilities"
Enhance directions view
- [ ] Customize routing text pane: partial map and text view, full text view, and hidden
- [ ] Include alternate routes in preview
  - [ ] Allow clicking on route lines to select alternative routes
- [ ] Add reverse directions feature (http://www.liedman.net/leaflet-routing-machine/tutorials/interaction/)
- [ ] Go (Start) directions feature: next/previous button
- [ ] Add f

[2018-02-21 02:31] jkwening opened #151 "Implement caching logic for directions"
Figure out caching protocol for directions - I'm thinking prefetch and cache tiles at varying zoom levels traversing directions waypoint; then you can use user location to center directions map and thus pulling nearby tiles. We will need to figure out how to best handle off-course during offline mode.

[2018-02-21 02:39] jkwening commented on #85
closed for new specific issues.

[2018-02-21 02:39] #85 closed

[2018-02-21 03:01] motosharpley commented on #125
@seckboy Ok cool good to know We should be able to refactor this out soon. I think we will end up on the react-semantic-ui or vanilla css and styletron or a combiniation of the two I'm working through some testing to figure out our best option.
This one looks pretty good though https://react.semantic-ui.com/introduction

[2018-02-22 00:29] motosharpley opened #152 "Build a learning resources page"
Build an html page in the docs directory to provide links to helpful learning resources in an organized manner.

add a link to the index.html page in the docs directory leading to the new learning resources page.

[2018-02-22 02:36] #122 closed

[2018-02-22 03:41] motosharpley opened #153 "Refactor signin form"
Refactor sign in form to use vanilla css & js.
Remove preact-material-components.

[2018-02-22 03:44] motosharpley opened #154 "Refactor Reset password form"
Refactor form to use vanilla css & js.
Remove preact-material-components.

[2018-02-22 03:53] motosharpley opened #155 "Refactor register form"
Refactor form to use vanilla css & js.
Remove preact-material-components.

[2018-02-23 03:44] sonalikatara commented on #127
@motosharpley  I would be happy to work on creating this doc. This will be my first contribution.

[2018-02-23 05:03] sonalikatara opened #158 "Typo : about link in CONTRIBUTING.md"
Do you want to request a feature or report a bug?
_I want to report a bug._

If this is a feature request, what is motivation or use case for changing the behavior?
_Not a feature request._

If the current behavior is a bug, please provide the steps to reproduce.
_Click on the about link near the end of the CONTRIBUTING.md document._

What is the expected behavior?
_The about link should link to R

[2018-02-23 07:31] motosharpley commented on #127
@sonalikatara please submit pull request on this issue to docs-dev branch.
Thanks!

[2018-02-23 21:09] redragonx opened #163 "Refactor Forgot Password Form"
Refactor form to use vanilla css & js.
Remove preact-material-components.

[2018-02-24 04:46] #155 closed

[2018-02-24 04:47] #163 closed

[2018-02-24 04:49] #154 closed

[2018-02-24 05:02] #84 closed

[2018-02-24 16:32] motosharpley opened #165 "Refactor Favorites component"
Refactor the Favorites component the fetch the users top 5 saved places, directions and top ten saved pins from the back end api.

[2018-02-24 16:42] motosharpley opened #166 "Make App Nav Icons"
Design a set of icons for use on small screens as navigation icons to
- home
- map
- directions
- profile
- save pin
here is an icon library we can pull from short term and then if someone is feeling creative we can make our own custom icons.
https://github.com/ForsakenHarmony/preact-feather
We can also download the original svg's here - https://feathericons.com/

[2018-02-24 20:20] seckboy commented on #138
You can assign this to me since I've started on it.

[2018-02-25 00:04] redragonx commented on #126
Can you assign me to this please?

[2018-02-25 18:35] khusbuchandra commented on #132
@motosharpley , apart from name & address what other details should be displayed? Also do we plan to customize marker or we go with default one.

[2018-02-25 19:53] motosharpley commented on #132
@khusbuchandra  I'm not sure exactly what all the options are but I think phone and website would be good if they are available. We can use the default for now and make a custom one if time premits.

[2018-02-26 00:32] tanyagupta commented on #152
Hi @motosharpley I can take a crack at this...

[2018-02-26 02:50] motosharpley commented on #152
Hey thanks @tanyagupta that would be great.

[2018-02-26 05:51] jkwening opened #170 "Map view icons"
Need icons for:

- current user location
- marker/pin icon
- saved/favorite marker/pin icon
here is an icon library we can pull from short term and then if someone is feeling creative we can make our own custom icons.
https://github.com/ForsakenHarmony/preact-feather
We can also download the original svg's here - https://feathericons.com/

[2018-02-26 05:59] jkwening opened #172 "Internal library for frontend and backend communication"
To avoid duplication of code and ease of testing, let's merge `~/client/src/js/utilities.js` into `server-requests-utils.js` and expand as library for handling frontend requests with backend server. We have a few server end points at this moment, so let's organize the frontend requests code into a single location and abstract further if needed to modular pieces.

Please reference `~/routes` and `~

[2018-02-26 06:07] jkwening commented on #165
Also needed for #172

[2018-02-26 06:19] jkwening commented on #132
sorry somehow missed this convo chain, else I would've pushed parts of my commits earlier. @khusbuchandra please see PR #169. We've moved to leaflet for map rendering and OSM for tiles. The maps route is where you need to incorporate the places features. It is now built out for that step, taking the query results, updating the map correctly with specific marker based on user's selection and if a p

[2018-02-26 06:41] khusbuchandra commented on #132
@jkwening  I wasn't aware of this and even i raised a PR [#171](https://github.com/TheDevPath/googleMaps-offline-navigator/pull/171) sometime back. In that case those changes won't be needed and this issue would be also invalid.

[2018-02-26 15:20] jkwening commented on #132
@khusbuchandra apologies about that...there's a lot of moving parts and it took me longer than I intended to transition us from google maps to open source based renderer and tiles. If possible, please turn your attention to #145 this view will include the places features you were working on; I'll assign that ticket to you. I'v merged in PR #171 and it also has notes about other remaining tasks tha

[2018-02-26 16:38] #153 closed

[2018-02-26 16:55] motosharpley commented on #132
@khusbuchandra Sorry about this I missed the fact that we had this as an issue from the last revisions and did not get it synced up with the new map view.
I guess we can just chalk it up to an educational exercise learning how to deal with issues you encounter in workplace projects. 🤣 or something

[2018-02-26 18:28] khusbuchandra commented on #132
@jkwening, I understand you, no more apologies :) . This does happen and anything for the betterment of the MVP. My intentions are all about learning and this would fall into that. I would check out the relevant issue and PR you have mentioned and see  if I can get a grasp of it and provide contributions.
@motosharpley , exercise done and noted 💯  :)

[2018-02-26 21:28] #132 closed

[2018-02-27 15:56] #125 closed

[2018-02-27 16:00] #127 closed

[2018-02-27 16:01] #124 closed

[2018-02-27 16:33] #152 closed

[2018-02-28 01:49] #75 closed

[2018-02-28 03:21] jkwening opened #179 "Add hamburger icon and directions icon to map view"
To the left and right of the search input add a hamburger icon and directions respectively.

Next tasks ([storyboards](https://sketch.cloud/s/Om3Dk)):
- hamburger icon: on click should toggle overlay of simple menu with options to sign in/out and accessing profile, saved pins and directions, and sharing location
- directions icon: for now on click should route to directions route

## Update
- [ ]

[2018-02-28 03:22] motosharpley opened #180 "Add notifications to sign in / register"
incorporate notification messages for success and errors on  sign in, sign out and register.

[2018-02-28 03:45] jkwening opened #181 "Style search feature for map view"
Style scrollable list of input predictions for better user experience:
- place name or search query
- address as sub value
- scrollable list should be hidden by default in primary map view; just search input available

On focus (user clicks on input box):
- hamburger icon (#179) should be replaced with a return icon which on click returns user to primary map view
- unhide / overlay scrollable list

[2018-02-28 03:58] jkwening opened #182 "Display place details"
Create a component for displaying details about a place.

It should have two view modes:
- full screen (most of the viewport height):
  - as much detail as we can provide: may start with image, option for getting directions, and "more about this place" section. See [places details](https://developers.google.com/places/web-service/details) api for idea of what backend will be retrieving from google

[2018-02-28 04:05] jkwening opened #183 "Preload saved pins on map"
Preload saved pins on map view with unique marker/pin icon (maybe a star or heart, can be simply a yellow marker for now to differentiate from normal dropped pin). See [leaflet tutorial](http://leafletjs.com/examples/layers-control/) on layer groups.

Next issue:
- limit this to only when user has been authenticated or if not logged in saved during "guest" mode

[2018-02-28 04:06] jkwening commented on #145
closing this ticket in favor of modular tasks:
- menu and directions icons #179
- style search view and complete event handlers logic #181
- places view #182
- load saved pins to map #183

@khusbuchandra hopefully this helps simplify what I was trying explain on slack.

[2018-02-28 04:06] #145 closed

[2018-02-28 04:14] motosharpley commented on #151
@jkwening one thing I noticed looking at this tonight too is that when the marker is moved while offline the directions pane is lost so we may need to figure out a way to either preserve that or prevent the update/action when offline

[2018-02-28 04:39] motosharpley opened #184 "style profile route"
style the profile route and the related components
Add styling to nav - buttons

- [x] ProfileCard  add styled containers for users saved pins & recent search history

- [x] settings - route

- [x] signout - route

[2018-02-28 04:40] jkwening opened #185 "Implement saved pin feature"
Currently after adding marker to map, clicking save button generates an alert notifying user of the marker location.

Code snippet from LeafletOsmMap component:
[code]
Refactor code so that it actually saves the given marker to the backend database. Note - accessing saved pins db requires user authentication; if needed feel free to relax that requirement for now. You can do so by commenting out
``

[2018-02-28 04:43] jkwening commented on #139
closing in favor of #185 - eventually we probably want implement a better ui for this but what we currently have implemented works for now.

[2018-02-28 04:43] #139 closed

[2018-02-28 05:24] khusbuchandra opened #186 "Geocode information for search autocomplete and input query"
Modify the backend api to include geocode information needed for Search component:

- [x] search/autocomplete api should pass along the lat long values along with predictions
- [x] endpoint for search input query to get back search results and its corresponding geocode details.

The above endpoints are needed to avoid additional calls from frontend for getting the geocode information.

[2018-02-28 06:08] jkwening commented on #186
overview for endpoint for search input query to get back search results and its corresponding geocode details:
- `~/controllers/google-api-controllers.js`: see `exports.autocomplete` code snippet as reference. Create a similar api end point using [googles places search service](https://developers.google.com/places/web-service/search). I would simply name the function `nearBySearch`.
  - key, locat

[2018-02-28 06:22] jkwening commented on #186
@khusbuchandra I'll take care off: search/autocomplete api should pass along the lat long values along with predictions while you take a crack at the new end point.

[2018-02-28 06:28] #100 closed

[2018-02-28 06:58] motosharpley opened #187 "Refactor Profile route for MVP"
On arrival to profile user should have option to Login or Register
- Provide link/buttons to map & home
- check if there is a logged in user
- if there is a logged in user fetch and render the users saved pins & search history
- if there is a logged in user provide a link to logout

[2018-02-28 19:36] khusbuchandra commented on #186
For input query search, I want to use textSearch request instead of nearby search, as it provides support for ambiguous address queries or incomplete address. Moreover the nearbySearch needs the latlng details as mandatory request parameter, which is not available similar to autocomplete in search. @jkwening , I will proceed with textsearch in case it has limitations for our usage, we can switch.

[2018-02-28 19:43] jkwening commented on #186
@khusbuchandra sounds good to me. If you do run into issues with textSearch, regarding the lat/lng comment for nearby search, it is needed so location biasing for what places to prioritize. As I mentioned, you can pass the user location which is stored as a state object in MapContainer, so you can pass it down to Search component as a prop.

[2018-02-28 22:25] khusbuchandra commented on #186
@jkwening  , you have added /map/geocode does it means frontend should make a separate call for  selected prediction or you would modify autocomplete api as well to pass geocode data for each prediction?

[2018-03-01 01:14] jkwening commented on #186
@khusbuchandra the former - have frontend make a separate call for the selected prediction. Else, we may end up making too many calls to the api that will surpass our limits since a user can keep changing their mind.

[2018-03-01 01:17] khusbuchandra commented on #186
Thanks @jkwening , exactly my thoughts. I even got the maxed out error today. We need to implement a strategy for that too.

[2018-03-01 01:24] jkwening opened #190 "User location control button for map view"
Currently there's no easy way recenter the map view back to the users current location. Add a "user location" control component to the map view overlay that on click sets the map view back to the user's location.

Suggested location: right side, about 1/3 away from the bottom of page or right above the attribution section of the map (bottom right).

Note: you will need to set `z-index`=1000 for Re

[2018-03-01 03:20] jkwening commented on #186
Completed in PRs #188 and #189. The next steps related to this issue are in #181

[2018-03-01 03:20] #186 closed

[2018-03-02 04:14] sameerkhan116 commented on #190
Hey I'd like to give this a shot.

[2018-03-02 18:09] tanyagupta commented on #8
Hi guys, I am working on Issue #128  and for that I was wondering if we could get more sizes for the logo?
The Web Manifest Section in the Intro to PWA course materials recommend the following sizes: 48,96,128,144,192,256,384,512. We have 192,512,182,16,32,150.
Ideally we would also have 48,96,128,144,256,384
![icons](https://user-images.githubusercontent.com/8497274/36914333-ebe1d544-1e1a-11e8-87

[2018-03-02 22:36] alicepalazzolo commented on #128
@tanyagupta where would you like me to place the additional app icon files ? The same folder as before?

[2018-03-02 22:39] motosharpley commented on #128
@alicepalazzolo same folder is good also can you load the logo on a transparent background at the same time please 😃 and Thank you!

[2018-03-02 22:41] alicepalazzolo commented on #128
@tanyagupta what size would you like the logo?

[2018-03-02 22:44] seckboy commented on #180
You can assign this to me. I have been refactoring signin and register to use preact setState instead of how it was doing it before (old fashioned getElementById). I have also tweaked the profile page to get user info and display their name and a success message if they are coming from register or sign in.

[2018-03-02 22:49] motosharpley commented on #128
@alicepalazzolo we are currently just using it for the splash/ home screen which will only display logo, maybe a tagline and two large buttons leading to map & profile.

[2018-03-02 22:50] motosharpley commented on #180
@seckboy that's great,
Thank you!

[2018-03-03 00:12] alicepalazzolo commented on #128
This Pull I just added should have everything you need @tanyagupta I also added  fav icon package which also has a manifest file and set ups for safari, apple and microsoft app icons, if you want to use this let me know and i can give you instructions for html5, nod CLI or Google Web STarter Kit

[2018-03-03 00:30] tanyagupta commented on #128
Thanks a lot! Bryan hold off on merge please. I will add these and update the pr

Sent from my iPhone

[2018-03-03 02:17] motosharpley opened #195 "Updated mock ups for NAVI"
New ui mock ups to reflect NAVI and matching color shceme.

[2018-03-03 02:53] shiolovesgod commented on #183
Hey @jkwening I think I'd like to take a shot at his issue, just to clarify:

* A user's places are saved in the db
* I need to load those places with a different markerwhen the map is loaded

[2018-03-03 03:05] motosharpley commented on #187
@seckboy I am assigning this to you also because it sounds like you have already touched on some of this as well.

[2018-03-03 03:36] motosharpley commented on #183
I have also reached out to alice to see if we can make a custom navi icon marker.
@shiolovesgod yes pins are saved to the db and a limited number could also be cached by the service worker.
and yes the saved place should be loaded with a different marker

[2018-03-03 03:39] #6 closed

[2018-03-03 03:49] alicepalazzolo commented on #195
New UI Click through can be viewed here: https://xd.adobe.com/view/5e55d994-c6ba-4a3f-b1b9-3f9a8a65f072 (you can click on certain elements in the page and see where they lead). Not everything is complete yet but a few screens for the look and feel. I have also added a quick screenshot of everything.
![mockup_quickview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-

[2018-03-03 04:02] motosharpley commented on #195
@TheDevPath/grow-with-google Check out the latest UI mock ups

[2018-03-03 06:14] jkwening commented on #195
Thanks @alicepalazzolo Now that looks pretty...if we can get the user location icon and pin icons created we can load this into existing code this weekend.

[2018-03-03 06:39] khusbuchandra commented on #195
Good job @alicepalazzolo , I really like it.

[2018-03-03 12:52] tanyagupta commented on #195
Very nice!

[2018-03-03 15:34] alicepalazzolo commented on #195
@jkwening where would you like them? I have made them in multiple sizes for different devices if needed or I have also exported them as SVG's depending on what you want to use. SVG's are great for resizing and quicker load times.

[2018-03-03 17:23] jkwening commented on #195
@alicepalazzolo you can place them in the `~/client/src/assets/icons` folder and submit a pull request. Feel to add subfolders as needed if there's a natural way to organize them. Thanks!

[2018-03-03 18:12] jkwening commented on #195
@alicepalazzolo actually can you add the user location and pin icons into the leaftlet subfolder under icons? Just remembered that is where the default map icons are stored. Also, I think we want PNG since SVGs are not supported by all browsers yet. Thanks.

[2018-03-03 18:45] #128 closed

[2018-03-03 19:58] alicepalazzolo commented on #195
I have added these to the solution, let me know if you have any questions or need anything else. I added image sizes for Adding in icons for sizes: ldpi, mdpi, hdpi, xhdpi, xxhdpi, and xxhdpi for the following icons

- Change Direction
- Current Location
- Destination Pin
- Find Location PIn
- FoundLocationSpot
- Get Directions
- Navigation Menu Icon
- Profile Icon

Also includes dark & light logo

[2018-03-03 20:30] khusbuchandra commented on #181
@jkwening , I struggle with style. I think it would be better if we mark the last 2 as complete and let someone else take this task up who can do a better job with it.

[2018-03-04 19:41] shiolovesgod commented on #172
I'm working on a task with frontend-backend communication and find myself in need of these tools to prevent code duplication.

Currently I'm coding a work-around but would just like to verify that when this component does become functional, the `makeRequest()` method will return a promise.

[2018-03-04 21:12] shiolovesgod commented on #172
If it's ok, I'd like to start this off by:
- refactoring `utilities.js`
- writing the `makeRequest` function
   * I would just need clarification of a few of the function parameters:
      * `endPointAddon` & `params`

This is integral in my current task (getting user's saved locations), and I'm writing a lot of the code for that anyway.

[2018-03-04 21:57] jkwening commented on #172
@shiolovesgod sure give it a shot; you're currently working on #183 right? The idea behind `makeRequest` function is to generalize frontend requests to backend without having to expose multiple functions for making request and simplify use by future contributors.

Basically, I'm envisioning a single function that when passed appropriate arguments while build the necessary server request returning

[2018-03-04 23:20] shiolovesgod commented on #172
Got it. I'm not sure what the function `postAutocomplete` was supposed to do but it's throwing errors:

1. The library for importing url is not found:
`import { url } from 'inspector';`

2. The variable `url` is already defined so this gives an error:
`return AXIOS_INSTANCE.post(url=BASE_ENDPOINTS.autocomplete, {input});`

[2018-03-05 00:07] jkwening commented on #172
you can ignore that function...its incomplete. I would suggest starting with `utilities.js`, add and refactor accordingly as needed to complete #183. Getting that feature implemented is pertinent for the MVP we're trying to deploy this week. Doing that will also build upon completing this ticket.

[2018-03-05 00:36] jkwening commented on #179
@bethlei assigned to you. Thanks!

[2018-03-05 00:49] jkwening commented on #179
@bethlei a couple of notes:

- there's related tasks in #181 once this is complete
- we have updated mockups that you can reference: the style is now slightly different than requested in this issue.
  - [overview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG)
  - [interactive](https://xd.adobe.com/view/5e55d994-c6ba-4a3f-b1b9-3f9a8a65f072/scr

[2018-03-05 02:27] shiolovesgod commented on #172
Pull request created.  #183 should be completed tomorrow using the updated `utilites.js`

[2018-03-05 03:00] jose8a commented on #195
@jkwening SVG support is actually universal (or as universal as it gets).  According to caniuse website, it is at 97.92%.  I would argue using SVG wherever possible nowadays instead of sending a bunch of extra files.  This way you only need one per icon, or one in total if you use a sprite-sheet.

https://caniuse.com/#feat=svg

[2018-03-05 03:20] alicepalazzolo commented on #195
@jose8a I thought that was the case. I can easily upload the SVGs also if you would like

[2018-03-05 03:34] jkwening commented on #195
@jose8a looks like I'm wrong, I swear I read somewhere that safari mobile still had issues with SVG. Since that's not the case, yes, I agree SVG is the better choice.

@alicepalazzolo can you please upload SVG version?

Thanks!

[2018-03-05 04:09] alicepalazzolo commented on #195
@jkwening They have been added. Let me know if you need anything else.

[2018-03-05 19:59] trickling commented on #184
I will work on this.

[2018-03-05 22:38] shiolovesgod commented on #183
Are we planning to cache the pins based on date created or frequency of use?

Either way, for now I plan to cache based on the order returned in the request from the frontend.

Whatever we decide should be returned by the GET request from the frontend...

[2018-03-05 23:07] motosharpley commented on #183
an index for frequently used would probably be nice but to start we can also just keep things simple

[2018-03-05 23:10] motosharpley commented on #184
@trickling I have sent you an invite to the github team once accepted I can assign this issue to you.

[2018-03-06 02:02] jose8a commented on #181
How much preact do we need to know to work on this?  I don't know any React, but would be interested in helping close some of these issues to help with the soft launch.

[2018-03-06 03:16] jkwening commented on #185
completed in #185

[2018-03-06 03:16] #185 closed

[2018-03-06 03:29] jkwening opened #204 "Enhance saved pin feature - Master list"
This is an expansion on issue #185 completed in #203. Currently, if user has signed in, user can save a dropped pin to the database. This needs the following enhancements, each can become their own unique issue:
- [x] If not signed in, notify user and give option to sign-in/register and then process the save to db  **high priority**
- in "guest" mode, save to temporarily in pouchDB. Maybe as futur

[2018-03-06 03:35] motosharpley commented on #181
@jose8a we are using plain old vanilla css so the context might feel a little different but it's not so bad really, we would be stoked to have your help! At this point each component/route has it's own dedicated stylesheet held in the directory corresponding to that component and it's index.js file. Most items have at least a minimal amount of boiler plate set up that can be referenced to get a fe

[2018-03-06 03:52] jose8a commented on #181
great! I'm almost done setting up my system so that I can run the project in it's latest form. Thanks!

[2018-03-06 03:57] jkwening opened #205 "Style login page per mockup"
- we have updated mockups that you can reference:
  - [overview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG)
  - [interactive](https://xd.adobe.com/view/5e55d994-c6ba-4a3f-b1b9-3f9a8a65f072/screen/a10637c7-7aae-4cfa-ab2c-4ad46bf153a2/Homescreen/)
  - the related icon images can be found in the `~/client/src/assets` subfolders
    - referenc

[2018-03-06 03:59] jkwening opened #206 "Style register page per mockup"
- we have updated mockups that you can reference:
  - [overview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG)
  - [interactive](https://xd.adobe.com/view/5e55d994-c6ba-4a3f-b1b9-3f9a8a65f072/screen/a10637c7-7aae-4cfa-ab2c-4ad46bf153a2/Homescreen/)
  - the related icon images can be found in the `~/client/src/assets` subfolders
    - referenc

[2018-03-06 04:02] jkwening commented on #195
@alicepalazzolo can you point me to paths for nav bar background image and splash screen background image? I couldn't find them in the assets page. Thanks!

[2018-03-06 04:15] jkwening opened #207 "Create Nav component per mockup"
- we have updated mockups that you can reference:
  - [overview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG)
  - [interactive](https://xd.adobe.com/view/5e55d994-c6ba-4a3f-b1b9-3f9a8a65f072/screen/a10637c7-7aae-4cfa-ab2c-4ad46bf153a2/Homescreen/)
  - the related icon images can be found in the `~/client/src/assets` subfolders
    - referenc

[2018-03-06 04:23] alicepalazzolo commented on #195
@jkwening hey those were not added as people were asking for location and pin icons.

Also would the nav bar just be a background gradient with css ? I can give you the css for it if you want if not I can make svg as well.(generally I only background images for header when doing an actual application as there are limitations, however this is a web app and can handle css)

As for the background on

[2018-03-06 04:36] jkwening commented on #195
@alicepalazzolo thanks for the clarification. Sorry if you posted somewhere else, yes, can you please provide the css color you're using in mockup? I was looking at it for bit thinking how to implement it and color gradients didn't come to mind; thanks for the re-introduction to gradients!

[2018-03-06 04:45] gayakrish commented on #195
I just implemented the top navbar (css gradient) with the NaviHomeIcon and ProfileIcon while working on "CSS Styling Components #108". I am yet to check in though.

[2018-03-06 12:01] shiolovesgod commented on #185
Hey @jkwening I'm working on #183 (loading saved pins) and I need to be able to save pins to really test the code.  I'll use generated pins until then, but just wanted to know if there was an ETA on this task?

Not sure how far along you are but maybe this snippet will help you:

[code]

[2018-03-06 13:24] jkwening commented on #195
@gayakrish wonderful. I've assigned #207 to you, which is specific for the navbar. Can you commit and request a PR for that issue when ready? Thanks.

[2018-03-06 13:27] jkwening commented on #185
@shiolovesgod the save pin feature was merged into development last night (PR #203). If you pull down from upstream development branch into your local development branch and then merge into the branch you're working in for this issue, you'll be all synced up. Thanks.

[2018-03-06 13:48] shiolovesgod commented on #185
Great! Checked last night, should have checked again this morning. Thanks.

[2018-03-06 17:45] motosharpley commented on #184
@trickling maybe you could start with login or register they are ready to go and have specific issues created #206 and #205 These are the entry point to the profile rout at this stage.

[2018-03-06 19:37] #180 closed

[2018-03-07 21:31] shiolovesgod commented on #172
@jkwening what else needs to be done to close this task out?

[2018-03-07 21:41] shiolovesgod commented on #204
Hey, I think I can take on this issue.  This is what I propose to handle:

* notify user if not signed in
  - I'll use an alert for now, I can code for toast if we implement it
  - Add logic to server to check for pin duplication (based on latlng)
  - Change pin type once it has been saved (favorites style)

This is what I won't handle as of right now:
  - Guest mode saves

[2018-03-07 22:00] jkwening commented on #204
@shiolovesgod sounds good - assigned to you. Thanks!

[2018-03-07 22:06] jkwening commented on #183
completed in PR #208

[2018-03-07 22:06] #183 closed

[2018-03-07 23:16] shiolovesgod commented on #204
@jkwening are we considering exact `lat,lng` to be the same place or is an approximate location (several decimal places) also the same place?

I'll do exact `lat,lng` unless we decide otherwise.

[2018-03-08 17:52] seckboy opened #214 "Add client testing"
Set up form submission and form verification testing. Perhaps we can use enzyme and also mock backend responses.

[2018-03-09 10:23] turisap commented on #182
Hi, @jkwening, I'd like to try to implement this, can I work on it?

[2018-03-09 13:18] jkwening commented on #182
@turisap certainly, go for it. It's assigned to you. Thanks.

[2018-03-09 23:43] khusbuchandra commented on #150
@jkwening , for alternative routes, do we intend to use other apis like Graphhopper  or any other server?
http://www.liedman.net/leaflet-routing-machine/tutorials/alternative-routers/

[2018-03-10 00:40] jkwening commented on #179
Hi @bethlei how this issue coming along? Have any questions?

[2018-03-10 03:01] #190 closed

[2018-03-10 05:21] jkwening commented on #150
@khusbuchandra regarding alternative directions, I'm referring to the instance when there are more than one route returned for directions result. Currently, the directions text pane shows multiple routes when available but the map doesn't display the alternate routes. We should display them. I believe it just simple leaflet-routing feature that needs to be toggled on.

[2018-03-10 05:24] jkwening commented on #172
@shiolovesgod I'll try and get back to you tomorrow. One related task, is to refactor existing frontend code that is still directly using `axios` to communicate with the backend server instead of the `makeRequest` function from the library.

[2018-03-10 18:23] tanyagupta opened #217 "Document leaflet.js"
Do you want to request a feature or report a bug?
Feature add
If this is a feature request, what is motivation or use case for changing the behavior?
More information about the API
If the current behavior is a bug, please provide the steps to reproduce.
na
What is the expected behavior?
na
What is the current behavior?
na
Please mention other relevant information.
na
    Node version
    npm versi

[2018-03-10 18:23] tanyagupta commented on #123
@sonalikatara Can I help you with this ?

[2018-03-10 19:11] tanyagupta opened #218 "Create a resources for beginners page which will include Github/Git instructions"
Do you want to request a feature or report a bug?
Feature

If this is a feature request, what is motivation or use case for changing the behavior?
More guidance for newcomers
If the current behavior is a bug, please provide the steps to reproduce.
na
What is the expected behavior?
na
What is the current behavior?
na
Please mention other relevant information.
na
    Node version
    npm version

[2018-03-10 20:29] gayakrish commented on #207
Looks like the navbar is already implemented before I could check in mine. Is there any other change that needs to be done as part of this issue?

[2018-03-10 20:48] jkwening commented on #207
@gayakrish not for this issue - its squared away now. Please see the new issues section of PR #216. There are related tasks that need to be implemented. Let me know if any peaks your interest.

[2018-03-10 20:49] #206 closed

[2018-03-10 20:49] #205 closed

[2018-03-10 23:36] tanyagupta commented on #218
@jkwening could you assign this to me please ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-11 03:03] jkwening commented on #218
@tanyagupta done.

[2018-03-11 08:41] turisap commented on #182
@jkwening, I'm experiencing problems with the application, could you please help me out?

As I new to this project, I set up everything in accordance with  instructions and then run `npm run dev` in the root directory and got the application running in my browser at `localhost:8080`. It reloads each time I made changes in the code, but it did not reflected it in the running application. Even if I

[2018-03-11 14:31] jkwening commented on #182
@turisap we have a service worker implemented, so its probably caching the main bundle.js module where the primary code logic is embedded. You probably just need to set the service worker tool to "update on reload" to allow it to automatically sync new changes via dev tools. Else, have your tried clearing out all site data via "Application" and then "Clear Storarge" in dev tools?

[2018-03-11 15:57] steveone commented on #204
I am just joining the project and notice that every time I click on the map, it auto adds a pin to the map unless I click "remove". I don't think it should be saving the pin but rather should remove any pin you didn't tell it to save or label. Is this the same issue here or a new issue I should open and work on separately?

[2018-03-12 03:35] jkwening commented on #204
@steveone I'm not sure I'm following - what you described sounds like expected behavior. Clicking on the map activates "dropped pin" feature. You then have the option to save or remove the pin. It shouldn't save it unless you explicitly click the save button which if successful will turn it into a favorite marker. Are you saying it automatically saves without any additional action?

[2018-03-12 03:53] steveone commented on #204
@jkwening what is the expected behavior if you do not click either the "save" or "delete" button. My expectation would be that the pin would disappear (same as hitting delete). I would not expect that a pin would exist everywhere I click on the map.

[2018-03-12 04:19] jkwening opened #225 "Use secure URL for OSM tile requests"
Currently we're making unsecure requests for map tiles - need to redirect to use secure URL: `https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png`

Referenced: https://github.com/Leaflet/Leaflet/issues/3186

[2018-03-12 04:22] jkwening commented on #204
@steveone oh gotcha - yeah, we should only have a single instance of a "dropped pin" at any given time. You're right clicking else where should move the pin to the new location. Please proceed with creating an issue for this. Thanks for catching the bug.

[2018-03-12 04:23] #170 closed

[2018-03-12 04:26] #166 closed

[2018-03-12 04:29] jkwening commented on #108
Issues clean up - noted tasks have their own issues.

[2018-03-12 04:29] #108 closed

[2018-03-12 04:30] jkwening commented on #104
Currently can't access "secure" end points unless signed in.

[2018-03-12 04:30] #104 closed

[2018-03-12 04:31] jkwening commented on #126
@motosharpley @redragonx what is left for this? Currently we have a home screen. We still need a splash screen I believe. Is that all or am I missing something? If so, we should probably close this ticket a create a more specific issue for what remains. Thanks.

[2018-03-12 04:35] steveone opened #226 "Pins cover map as you click around (even if you don't save the pins)"
This is a bug found in in the Enhance saved pin feature - Issue #204

If you click on multiple points of the map, each location will get a pin without you hitting "save" on the pins. The expected behavior is that one pin will be created, and if you don't hit "save" the pin will be removed when you click elsewhere on the map.

See attached screenshot for visual (taken in Chrome on a mac)

<img widt

[2018-03-12 04:35] #187 closed

[2018-03-12 04:37] #184 closed

[2018-03-12 04:38] #195 closed

[2018-03-12 04:44] jkwening commented on #226
@steveone want to take a crack at fixing this? If so, I'll assign the ticket to you.

The code logic is in `~/client/src/components/LeafletOSMMap/index.js`.  We're using [Leaflet](http://leafletjs.com/index.html) module for rendering maps.

[2018-03-12 04:47] steveone commented on #226
@jkwening I'd be happy to take a crack and resolving this issue. Thanks for pointing out where the code is. I will take a look at it shortly.

[2018-03-12 05:11] #225 closed

[2018-03-12 18:02] turisap commented on #182
@jkwening, your advice did help! So it's working now.

I've got a couple of questions regarding how to make this component, can you answer them?

-  How should I style the component? Are there any guides or should I do it as I want?
- You mentioned that in the partial screen mode there should be a small map with location centered. How can I obtain that map? Should I make any additional requests to

[2018-03-13 16:49] #126 closed

[2018-03-14 23:56] alicepalazzolo commented on #207
@jkwening I know this was closed but the colors were off for the navbar- also it didn't have browser compatibility gradients in it. Can I implement an update?

[2018-03-15 01:19] alicepalazzolo opened #236 "Homepage Styling"
UI Updates to the Homepage

- Background Image

- Responsive Logo

- Responsive Input Field

- Style my Location

- Style Input Text Box

- Update Font

[UI Styling](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG)

[2018-03-15 21:54] jkwening commented on #48
This is issue is becoming more of a priority since the frontend is now setup to make requests to the backend server. We need to standardize how we send response back to the frontend. I've been running into difficulty resolving bugs/issues since there's no consistent structure.

To get the conversation started, I'm going to propose that for all responses we continue to send status code number along

[2018-03-16 00:48] Euklidian-Space commented on #78
hey @jkwening.  I am thinking of tackling this issue.  However when I run npm test I get an error

Cannot find module '../src/components/SigninForm'

It is coming from components.test.js in the client folder.  I don't see any folder by that name in the components directory.  Maybe your team is already aware of this?  I am just gonna comment out that test for now and work on this issue.

[2018-03-16 01:17] jkwening commented on #78
@Euklidian-Space yeah that's fine; the front end code base has change a lot since this issue was created. The related component is now in `../src/components/AccountForm` - can you add a comment noting that while you're at it. Thanks for contributing!

@motosharpley can you add him to the group? Thanks.

[2018-03-16 04:36] Euklidian-Space commented on #78
hey @jkwening, I have some questions.

1.  For postSavedPins in saved-pins-controller.js there is a part in the function definition where it is checking if a pin exists in the database.  It does that by looking at appReq.body.lat and appReq.body.lng .  I cannot seem to find where in the middleware pipeline those properties get set.  I know for this particular route verifyToken is called before pos

[2018-03-16 05:36] jkwening commented on #78
Hi @Euklidian-Space `appReq.body.lat/lng` are from the request body data that are sent along with the api request from the frontend. For a given pin/marker, it has a lat/lng data that specifies it geolocation. The frontend passes along that information in its request to the backend server to save to the database. So in writing the test, you're going to have to mimic a request response by passing t

[2018-03-16 05:40] #207 closed

[2018-03-16 05:40] #236 closed

[2018-03-16 16:47] Euklidian-Space commented on #78
@jkwening I understand that.  What I am saying though is I do not see where that is happening in the unit test in saved-pins-test.js .  There is no explicit assignment in the test as far as I can tell. Is that hidden in the test setup for the project somewhere?  Take a look at saved-pins-test.js and tell me if you can see where the request is mutated.  Note that the first test fails on the first .

[2018-03-16 18:25] redragonx commented on #48
Can I get assigned to this?

[2018-03-16 18:32] motosharpley commented on #48
I like the idea of having a standardized set of responses I would also like to see a catch-all in app.js that would handle anything that manages to fall all the way through.

[2018-03-16 19:10] redragonx commented on #48
Are there errors that need to be refactored while I'm making this?

[2018-03-16 19:47] jkwening commented on #48
@motosharpley yep - agreed on the catch-all for server app.js. I'm still trying to track down how the server is crashing at certain types due to uncaught error that I can quite trace back to a source...I'm currently guessing its related to one of the promises or call back instances.

@redragonx all controllers need to be refactored to implement the standard `appRes.status(#).send(...)` code snippe

[2018-03-16 19:55] redragonx commented on #48
@jkwening - Okay, this will be likely done in multiple commits or PRs depending on how many controllers there are.

Should we talk about future proofing the data objects? I am not too sure on this yet as I'm looking at the data needed still. Just a thought.

I was thinking of putting the constants in a file called constants.js so it'll be easier to edit. And the logic will be in another file like

[2018-03-16 20:14] jkwening commented on #48
@redragonx yep - multiple commits/PR is definitely fine and encouraged...I'm definitely big fan of piecemeal implementation and updates than one massive code update which can be tricking to test and validate.

We currently don't have that many true constants to justify a module just for that. Go ahead and encapsulate the whole error handling into its own module, include but status constant object

[2018-03-16 20:16] redragonx commented on #126
Sorry for the late reply, but I had unexpected real life problems popped up. That's why there was no response.

[2018-03-16 20:57] redragonx commented on #48
Are there any samples of what api error handling looks like?

I'm not familiar with the app.res(#).send() notation.

[2018-03-16 21:07] motosharpley commented on #48
here is a little snippet of a catchall to help get you started
`// error handling
app.use((req, res, next) => {
  const error = new Error('Not found');
  error.status = 404;
  next(error);
});

app.use((error, req, res, next) => {
  res.status(error.status || 500);
  res.json({
    error: {
      message: error.message
    }
  });
});
`

[2018-03-16 21:10] motosharpley commented on #48
if you scroll down a bit this thread has examples of different approaches, synchronous, event etc. https://stackoverflow.com/questions/7310521/node-js-best-practice-exception-handling

[2018-03-16 21:51] redragonx commented on #48
Will each constant have it's own snippet? Or am I checking the request for each error type in the catchall?

Can I get a list of endpoints that will expect certain errors?

[2018-03-16 22:20] redragonx commented on #48
Also, what about a logger middleware, any suggestions for that?

Found these resources to help guide me design the api error handling
https://kostasbariotis.com/rest-api-error-handling-with-express-js/
https://github.com/kbariotis/throw.js

[2018-03-16 22:51] redragonx commented on #48
Here are some additional REST api error formats we can look at:

https://nordicapis.com/best-practices-api-error-handling/

I like the Bing and Twitter versions.

[2018-03-17 00:41] jkwening commented on #48
@redragonx the status code constants I was thinking something like this:

[code]

So that the same status code strings are utilized whenever responding to a request.

[2018-03-17 17:09] jkwening commented on #226
resolved in PR #244

[2018-03-17 17:09] #226 closed

[2018-03-17 17:25] motosharpley opened #247 "declare permissions in manifest.json"
we need to add declare permissions to the client>manifest.json file
see here for details https://developer.chrome.com/apps/declare_permissions

[2018-03-17 17:52] motosharpley opened #248 "fix search autocomplete geocode"
fix search autocomplete to get user geolocation instead of server

[2018-03-17 18:08] Euklidian-Space commented on #78
@jkwening I figured it out.  I didn't notice the call to .send() in the promise chain in the test.  Whoever wrote this test must have unintentionally placed it in the test because that call to send is antithetical to the description of the test and causing it to fail.  I am going to remove it and have it among my commits for this task

[2018-03-17 20:39] motosharpley opened #253 "Incorporate responsive styling to user account forms"
Add media queries & styling to make user account forms display correctly

[2018-03-17 22:28] #179 closed

[2018-03-17 22:29] #165 closed

[2018-03-18 01:20] motosharpley opened #257 "add delete to savedpins"
Add delete functionality to frontend savedpins

[2018-03-18 01:21] motosharpley commented on #204
closing in favor of specific individual issue

[2018-03-18 01:21] #204 closed

[2018-03-18 03:20] roncham commented on #247
I'd like to do this one Bryan. What do we need besides geolocation. storage? notifications?

[2018-03-18 03:33] motosharpley commented on #247
Sure @roncham I sent you an invite to the team so that I can assign this to you. The primary issue this currently concerns is geolocation, however there is a lot to be explored on the topic which might be useful to the app.

[2018-03-18 05:45] roncham commented on #247
The 'clipboardWrite' permission could be handy for copying directions to paste into messaging or other apps. Would also require some code added though.

clipboardWrite "Indicates the extension or app uses document.execCommand('copy') or document.execCommand('cut'). This permission is required for hosted apps; it's recommended for extensions and packaged apps."

[2018-03-18 19:10] Euklidian-Space commented on #78
Hey @jkwening, How are do you feel about SinonJS as a dev dependency in order to Mock responses from the google API?

[2018-03-19 02:27] jkwening commented on #182
@turisap sorry for just getting back to you - completely missed this in my inbox. Here's my response in order of your questions:

- Regarding style - give the following mockups a look see to get an [overview](https://user-images.githubusercontent.com/35308564/36930291-ba1afcce-1e6b-11e8-9ece-d86a227a83d5.PNG) of the current theme we're going with and style as you like as related to that for now. (

[2018-03-19 15:56] motosharpley commented on #182
@jkwening we should make a new branch I just created that gmap-places branch to preserve the code from the google implementation before refactoring it out for leaflet in case someone wanted it

[2018-03-20 02:14] jkwening commented on #182
@turisap I've create a feature branch called "place-details" that we will use for this issue until its complete and ready to be merged into "development" branch. Did my response answer your questions?

[2018-03-20 02:36] Euklidian-Space commented on #78
@jkwening PR submitted.

[2018-03-20 04:26] steveone commented on #257
Delete button added but needs CSS updates to look prettier

[2018-03-20 16:12] turisap commented on #182
@jkwening, yes, thank you for the exhaustive answer, it is much clearer now. I'll proceed then with full-screen mode component in my PR soon.

[2018-03-20 17:47] turisap commented on #182
@jkwening, sorry, it looks like I need to ask a couple of more questions..

I followed your advice and went to `~/controllers/google-api-controller.js` and did find there both `placeDetails()` and `directions()` which I guess I need to use for this component. However, it is not clear how to make a request to those endpoints. Simple  `import ` of those actions does not work and crashes application

[2018-03-21 16:18] Euklidian-Space commented on #78
@jkwening PR was merged.  This issue can be closed out.

[2018-03-21 16:55] #78 closed

[2018-03-21 17:00] jkwening commented on #182
@turisap regarding requests to the backend server, you're heading in the right direction; please utilize `makeRequest()` function along with `BASE_ENDPOINTS` object in `server-request-utilities.js` (see PR #264 OnLocationFound() and saveSaveMarkerToDB() functions in `client/src/components/LeafletOsmMap/index.js` as use case examples).

The example you provided is slightly off, `controllers/google-

[2018-03-21 18:11] steveone commented on #257
@motosharpley this issue can be closed. There are a few functions duplicated in different locations to create the buttons and text in the markers that should be merged but I think that can be a new issue?

[2018-03-21 18:35] jkwening commented on #257
@steveone yes, please create an issue for refactoring to resolve duplication of code as detailed as you can. It will help facilitate maintaining, expanding, and effectively testing the code base. Thanks - will close this issue.

[2018-03-21 18:35] #257 closed

[2018-03-22 03:58] steveone opened #268 "Merge duplicate functions (createLabel, createInput, createButton)"
Do you want to request a feature or report a bug?

Duplicate code in multiple files needs moving to a utility file

If this is a feature request, what is motivation or use case for changing the behavior?

Cleaner more maintainable code and testing

The createLabel, createInput and createButton functions are duplicated (or two of them at least) in the client code in the following files:

- Navi/cli

[2018-03-22 07:48] khusbuchandra commented on #248
Finally i could get some time to look into the issue and till now my findings have been that GetGeoLocation Api call returns lat & lng values{lat: 39.043756699999996, lng: -77.4874416} from somewhere in VA which is set in Home. If user goes to map from there, it still holds that lat, lng values and shows wrong location.
Instead if we refresh the map, it reloads with correct location with lat & lng

[2018-03-22 13:42] jkwening commented on #268
@steveone assigned to you. Thanks.

[2018-03-22 18:20] turisap commented on #182
@jkwening, thank you for the explicit answer, it helped me a lot :-)

[2018-03-22 18:37] Euklidian-Space commented on #268
@steveone  Sorry to butt into this conversation, but I was wondering what is being used to test the front end components?  I usually see people using enzyme to mount components, but I don't see it as a dev dependency in package.json.

[2018-03-22 18:44] steveone commented on #268
@Euklidian-Space It's a good question. I just looked and don't see any front-end tests at all. I did see a api/server test "saved-pins-test.js" that needs updating to include a new field "desc" for saved-pins. I've used Mocha/Chai in the past, I know Jest/Enzyme are the new preferred. I'm open to whatever the team wants.

[2018-03-22 19:07] motosharpley commented on #268
@Euklidian-Space @steveone take a look at PR #261 we had originally set up mocha/chai but pr#261 is setting up jest

[2018-03-22 20:03] Euklidian-Space commented on #268
@steveone what is the desc field doing exactly?  I don't see it being utilized in the saved-pins-controller at all.

[2018-03-22 22:41] steveone commented on #268
@Euklidian-Space , you may need to update you local repo as it was only added 3 days ago (or so).  It's on line 84 based on the current version.

[2018-03-23 21:54] #248 closed

[2018-03-24 22:12] redragonx commented on #48
Still working on this.

[2018-03-24 23:18] tanyagupta commented on #218
@jkwening @motosharpley could you please merge ? Can I go ahead and close this out ?
Let me know if you need any changes
thanks!

[2018-03-25 12:02] #217 closed

[2018-03-25 15:16] jkwening commented on #48
@redragonx glad to hear you're making progress. We're working out of a feature specific branches, so feel free to make PR request as you have parts of it committed and moving along. As usual, let us know if you have any questions or run into issues.

[2018-03-25 16:21] jkwening commented on #172
Closing issue since complete.

Notes: removed direct `axios` calls with `makeRequest` from existing frontend code. @turisap has code with clearer doc string for `makeRequest` in upcoming PR.

[2018-03-25 16:21] #172 closed

[2018-03-25 17:36] #247 closed

[2018-03-25 18:36] #218 closed

[2018-03-26 01:37] alicepalazzolo commented on #253
Yes I will be able to do that

On Sun, Mar 25, 2018, 12:24 PM John Kwening <notifications@github.com>
wrote:

[2018-03-26 21:00] redragonx commented on #48
@jkwening Thanks, I haven't had much time last week to do much, which is annoying to me at least. I'll try to do PRs but no promises.

[2018-03-26 22:27] #253 closed

[2018-03-26 22:28] #158 closed

[2018-03-27 00:38] jkwening opened #295 "Improve rendering when device changes orientation"
App doesn't render correctly when device orientation changes - need to add logic for re-rendering app per new orientation.

[2018-03-27 00:44] jkwening opened #296 "Save directions feature"
Add feature to save directions and get saved directions from backend.

[2018-03-27 00:55] jkwening opened #297 "Implement start/end navigation feature for directions"
- [ ] Add start/end navigation feature
- [ ] Activate user tracking feature when providing directions
- [ ] Stop user tracking when user ends navigation

[2018-03-27 02:07] someyoungideas opened #298 "Trailing Commas user-controller.js"
I was curious if anyone has issues running the app with the trailing commas in `users-controller.js`? If so I have a branch with the fixes, but I was checking first because it seemed like something others may not have issues with in order to run the app. There are three of them in the controller in various locations.

In order to reproduce I am running `npm run dev` script and I am seeing the erro

[2018-03-28 00:54] someyoungideas opened #302 "Searching While Awaiting Geolocation Feature"
As I a user viewing the application for the first time I should have some visual notification that I have either denied geolocation, or that my geolocation is currently in process. Along with this visual notification I should also be allowed to use the search effectively. Currently if you have blocked geolocation or in the process of getting your current position the search is broken and is throwi

[2018-03-28 01:10] someyoungideas commented on #298
It seems like this is an issue with the version of NodeJS being used. I started using `v8.5.0` and everything worked as expected. Maybe there should be a minimum requirements of NodeJS version in the README.md?

[2018-03-28 02:16] jkwening commented on #302
@someyoungideas great summary of the issue - I'll assign to you if you want to work on this issue.

Here's a useful reference doc for `navigation.geolocation`: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation

[2018-03-28 02:19] someyoungideas commented on #302
@jkwening I would be glad to take this issue. I may have some questions along the way. Would you like me to just post them in here and mention you as they come up, would there be a more preferred place?

[2018-03-28 02:24] jkwening commented on #302
@someyoungideas assigned to you. Yeah, just post in here and mention me as they come up. Thanks!

[2018-03-28 02:28] motosharpley commented on #298
@someyoungideas sorry I didn't get to this sooner, what I would like to do is specify our engine in the package.json we started the project on node v8.9.0 and this is something I need to add for the deployment pipeline anyways. If you want to add this and the debug script in your PR #299 that would be great.
Thanks

[2018-03-28 02:45] motosharpley commented on #295
Here is a starting point for this https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation

[2018-03-28 17:41] motosharpley opened #303 "display saved pins desc field link to map"
on the profile view edit saved pins to display the pins desc field and provide a link to the map view for that location

[2018-03-28 18:27] khusbuchandra commented on #303
In case Description is not there we fall back on place Id or should the description be mandatory for saving of pin?

[2018-03-28 20:10] motosharpley commented on #303
Open to options but I would say for now maybe we just make it required and then once we add places feature we can refactor.

[2018-03-28 22:22] redragonx commented on #48
Does anyone have good specific examples of Navi api calls that I can test with? @motosharpley @jkwening

Thanks!

[2018-03-28 23:32] motosharpley commented on #48
@redragonx you can use postman to hit the endpoints and test to see that your getting the expected response back https://www.getpostman.com/

[2018-03-30 16:25] motosharpley commented on #123
@thesparrow please coordinate with @tanyagupta she has started on this however there is more to do if you would like to help

[2018-03-30 16:49] tanyagupta commented on #123
@thesparrow @sonalikatara we will be implementing apidocs to capture documentation. I plan to update the issue description with a detailed task list soon. Look forward to working with both of you on that

[2018-03-30 18:20] someyoungideas commented on #298
Closing after merge of #299 PR

[2018-03-30 18:20] #298 closed

[2018-03-30 18:32] thesparrow commented on #123
Thanks for the reply - I can do the first bulletin - it seems like the rest of the bulletins are tied to the second stage? Or is that a wrong assumption? @motosharpley  @tanyagupta  Also I'm not sure - do I need to tag you in the posts - or is this seen by people already making comments on the thread? thanks

[2018-03-30 18:37] tanyagupta commented on #123
@thesparrow we would need an admin for the first if I am not mistaken. Let me get the guidelines out as soon as I can (the second one) and that should free up the rest of the bullets.  All subscribed folks will automatically get copied on this thread. It looks like @motosharpley @sonalikatara @jkwening and us :)

[2018-03-30 18:53] thesparrow commented on #123
Ok! Sounds good! I'll be scoping out the code in the meantime - let me know.

[2018-03-30 19:49] #303 closed

[2018-03-30 19:55] motosharpley commented on #123
We can use this as a master ticket and reference other smaller issues that need more description and are able to be completed in isolation.
I will have to to look at  apidocs again but I would assume issue 1 would just be a matter of adding devDependencies to the package.json
Also since multiple people are working on this lets submit PR's to the api-docs feature branch

[2018-03-30 21:01] tanyagupta commented on #123
Thanks Bryan. Will push further PRs to the api-docs branch feature.
Sonali and Anna please look at docs folder document name Api_instructions in the api-docs branch.

That should help us tackle the rest of the sub issues under this issue. Please post a comment if there are questions.

Sent from my iPhone

[2018-03-31 22:41] tanyagupta commented on #123
@thesparrow and @sonalikatara wanted to check in and see if you saw the instructions and have any questions. I am posting the link  here =>
https://github.com/TheDevPath/Navi/blob/api-docs/docs/API_instructions.md
Essentially api-docs helps the automation of documents and the attached describes the kind of changes that need to be made to the files. The list of the files are in the task list above.

[2018-03-31 22:55] sonalikatara commented on #123
Thank You @tanyagupta I am setting up the Navi project on my local machine
right now. Will get back to you if I have any questions,  will c\post a
comment as soon as I get started.

On Sat, Mar 31, 2018 at 3:41 PM, tanyagupta <notifications@github.com>
wrote:

[2018-04-01 06:45] sonalikatara commented on #123
@tanyagupta , the api documentation is already there in all the controllers, do I need to check it or am i missing something.

regarding the item : Update contributing guidelines doc to ensure all programmers follow the guidelines before introducing new API code
Isn't this https://github.com/TheDevPath/Navi/blob/api-docs/docs/API_instructions.md
Please suggest how I can start .

[2018-04-01 14:51] tanyagupta commented on #123
@sonalikatara those are really good questions. Let me update my post so that those answers are there for others to review as well.

[2018-04-04 10:33] tanyagupta commented on #123
@sonalikatara @thesparrow please see updated instructions and feel free to take up any of the above issues, hopefully this provides more guidance.

[2018-04-10 15:35] #268 closed